@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "anonymousPro";
    src: url("./assets/fonts/AnonymousPro-Regular.ttf") url("./assets/fonts/AnonymousPro-Bold.ttf") url("./assets/fonts/AnonymousPro-BoldItalic.ttf") url("./assets/fonts/AnonymousPro-Italic.ttf");
}
@font-face {
    font-family: "questrial";
    src: url("./assets/fonts/Questrial-Regular.ttf");
}