@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "anonymousPro";
    src: url("./assets/fonts/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: 400;
    /* src: url("./assets/fonts/AnonymousPro-Regular.ttf") url("./assets/fonts/AnonymousPro-Bold.ttf") url("./assets/fonts/AnonymousPro-BoldItalic.ttf") url("./assets/fonts/AnonymousPro-Italic.ttf"); */
}
@font-face {
    font-family: "anonymousPro";
    src: url("./assets/fonts/AnonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "anonymousPro";
    src: url("./assets/fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "anonymousPro";
    src: url("./assets/fonts/AnonymousPro-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "questrial";
    src: url("./assets/fonts/Questrial-Regular.ttf");
}